
<% @spots.each do |spot| %>
  <div class="box">
    <%= spot.start_date.to_formatted_s(:short) %> -
    <%= spot.end_date.to_formatted_s(:short) %>

    <footer class="card-footer">
      <button class="button is-link is-outlined">Check in</button>
    </footer>
  </div>
<% end %>