<% if @spot && @spot.status != "delete" %>  
<div class="button">
  Spot for <%= @spot.calendar.name %> at: 
  <%= local_time(@spot.start_date, '%d-%m-%y at %H:%M') %> - 
  <%= local_time(@spot.end_date, '%H:%M') %>
</div>
<br>
  <%= link_to "Cancel this appointment", spot_cancel_path(@spot.slug) %>
<% end %>

<% if @spot && @spot.status == "delete" %>  
  Sorry, spot was deleted by the owner.
<% end %>




