
<h1>
  Woensdag 21 augustus
</h1>

  <div class="box">
    10:00 - 11:00
    <footer class="card-footer">
        <button class="button is-link is-outlined js-modal-trigger" data-target="modal-js-subscribe-1">Check in</button>
    </footer>
  </div>

  <!-- modals !-->
  <div id="modal-js-subscribe-1" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">

      <div class="box">
          <h1> You want to subscribe for:</h1>
        </div>
      </div>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
  </div>


