<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your spot has been reserved.</h1>
    <p>
      You have successfully reserved a spot for <%= @spot.calendar.name %>.<br>
    </p>
    <p>
     🚀 just follow this link: <a href="https://ancient-firefly-4924.fly.dev/spots/<%= @spot.slug %>">Your spot</a>
     You can edit and cancel your spot there.
    </p>
    <p>-Have a nice day!- Hamaki</p>
  </body>
</html>