<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your spot has been deleted by the owner.</h1>
    <p>
     Sorry your appointment with <%= @spot.calendar.name %> has been cancelled.
    </p>
    <p>- Hamaki</p>
  </body>
</html>