<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Meeting reserved for: <%= @spot.calendar.name %> </h1>
    <p>
      You have successfully reserved a meeting for <%= @spot.calendar.name %>.<br>
    </p>
    <p>
     🚀 just follow this link: <a href="https://hamaki.pro/spot/<%= @spot.slug %>">Your meeting</a>
     You can edit and cancel your meeting there.
    </p>
    <p>-Have a nice day!</p>
  </body>
</html>