*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary: #f4511e;
}

.errors {
    background: white;
    border-radius: 10px;
}

.errors p {
    color: rgb(255, 0, 0);
    font-size: 1.3rem;
}

.flash {
    background: white;
    color: black;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding: 20px;
}

.spot {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.button {
    background: rgb(83, 83, 239);
    padding: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin-top: 8px;
}

.taken {
    background: rgb(196, 196, 196);
    padding: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    display: block;
    margin-top: 8px;
}

.button:hover {
    background: rgb(31, 31, 163);
}


.button a {
    color: white;
    text-decoration: none;

}