:root {
    --clr-primary: #7766ee;
    --clr-secondary: #ff8b57;
    --clr-third: #486ddd;
    --ff-primary: "Inter", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-size: 1.3125rem;
    line-height: 1.6;
    background-color: var(--clr-secondary);
    color: white;
}