@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Roboto Slab', serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  background-color: #7957D6;
  color: white;

}

.container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  align-content: center;
  justify-content: center;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

footer {
  text-align: center;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  /* 2*16 = 32 */
}

h2 {
  font-size: 1.5em;
  /* 1.5*16 = 24 */
}

h3 {
  font-size: 1.17em;
  /* 1.17*16 = 18.72 */
}

h4 {
  font-size: 1em;
  /* 1*16 = 16 */
}

h5 {
  font-size: 0.83em;
  /* 0.83*16 = 13.28 */
}

h6 {
  font-size: 0.75em;
  /* 0.75*16 = 12 */
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.modal.is-active {
  display: flex;
}

.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
}

.modal-background {
  background-color: rgba(10, 10, 10, .86);
}

.modal-card,
.modal-content {
  margin: 0 auto;
  max-height: calc(100vh - 40px);
  width: 640px;
}

.modal-card,
.modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}